@charset "utf-8";
#header {
	background-image: url(bilder/topback.jpg);
	height: 129px;
	width: 100%;
} a { text-decoration: none; }


body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#menu {
	background-image: url(bilder/menuback.jpg);
	height: 35px;
	width: 100%;
}
#middle {
	width: 100%;
}
#submenu {
	float: left;
	width: 25%;
}
#content {
	float: left;
	width: 75%;
}
#footer {
	color: #FFF;
	background-image: url(bilder/footer.jpg);
	text-align: right;
	clear: both;
	height: 33px;
	width: 100%;
}
.sub-bg {
	background-image: url(bilder/submiddle.jpg);
	background-repeat: repeat-y;
	padding: 10px;
}
#middle #submenu table tr td .sub-bg a {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #333;
}
